/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    text-decoration: none !important;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

.aos-overflow {
    overflow-x: hidden !important;
}

a {
    text-decoration: none !important;
    color: #FFF;
}


/* Navbar */

header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

nav {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    font-size: 1em;
    font-weight: bold;
    max-width: 1500px;
    letter-spacing: 0.1rem;
}

nav a {
    color: #fff !important;
}

.navbar-brand {
    width: 20%;
}

.navbar-brand>span {
    font-size: 1.5rem;
}

.nav-link {
    margin: 0 10px;
}


/* Section */

.section-page {
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: #000;
}


/* Section 1 */

.intro-page {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(assets/background/main-bg.jpg);
}

.intro-title-page {
    position: relative font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 28px;
    letter-spacing: 0.2rem;
}

.desc-title-page {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    line-height: 100px;
    letter-spacing: 0.2rem;
}

.btn-title-page {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold !important;
    font-size: 16px;
    background-image: linear-gradient(#FFB548, #F3AF34);
    padding: 20px 50px !important;
}

.btn-title-page:hover {
    color: #fff !important;
}

.scroll-button-intro-page {
    font-size: 15px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    color: #fff !important;
    text-align: justify;
    width: 100%;
    line-height: 100px;
}


/* Section 2*/

.sectionGames {
    display: grid;
    height: 100vh;
    background-size: cover;
    background-image: url(assets/background/the-games-bg.jpg);
}

.jumbotron-slide-page {
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-color: #000;
    background-image: url(assets/background/the-games-bg.jpg);
}

.slide-page {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: 2px;
}

.title-slide-page {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#carouselExampleIndicators {
    position: relative;
    margin-top: 30px;
    padding: auto;
}

.carousel-indicators button {
    width: 10px!important;
    height: 10px!important;
    margin-right: 15px!important;
    margin-left: 15px!important;
    border-radius: 50%!important;
    border: 0!important;
    background-color: transparent!important;
    box-shadow: 0 0 0 .2rem rgb(255, 255, 255) !important;
}


/* Section 3 */

.section-3 {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(assets/background/features.jpg);
    background-size: cover;
}

.item-section-3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.75rem;
    letter-spacing: 0.1875rem;
}

.text-section-3 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

ul.timeline {
    list-style: none;
    position: relative;
}

ul.timeline::before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 1.25rem 0;
    padding-left: 2.5rem;
}

ul.timeline>li:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 400;
}

.ul.timeline>li.game-suit::before {
    content: ' ';
    /* background: white; */
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    /* border: 3px solid #FFB740; */
    border: 3px solid #FFF;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.ul.timeline>li.item-game::before {
    content: ' ';
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #FFF;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.h1-section-3 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    color: #FFB548;
}


/* Section 4 */

.section-4 {
    position: relative;
    background-image: url(assets/background/requirements.png);
    background-size: cover;
}

.text-requirements {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.125rem;
}

.text-section-item {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;
}

.main-section-4 {
    border: 1px solid #fff;
}

.item-section-4 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1.75rem;
    letter-spacing: 0.125rem;
    color: #FFB548;
}

.text-section-4 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}


/* Section 5 */

.section-5 {
    background-image: url(assets/background/top-score-bg.png);
    background-size: cover;
    background-position: center;
}

.h1-section-5 {
    color: #FFF;
    font-family: "Poppins";
    text-transform: uppercase;
    font-size: 4rem;
}

.p1-section-5 {
    color: #FFF;
    font-family: "Open Sans";
    letter-spacing: .1rem;
}

.btn-section-5 {
    color: #000;
    transition: .3s;
    text-transform: uppercase;
    background-color: #FFB740;
    font-family: "Poppins";
    font-weight: 700;
    padding: .9rem 4.5rem;
}

.btn-section-5:hover {
    color: #FFF;
}

.bg-dark {
    border-radius: 10px;
}

.name-section-5 {
    color: #FFB740;
    font-family: 'Open Sans', sans-serif;
}

.p-job-section-5 {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.5;
}

.p-message-section-5 {
    color: #FFF !important;
}

.footer-card-section-5 {
    color: rgb(161, 161, 161);
    font-size: 1rem;
}

.img-profile {
    box-shadow: 5px 5px #FFB740;
}


/* Section 6 */

.section-6 {
    background-image: url(assets/background/bg-black.png);
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
}

.image-gems {
    width: 200px;
    display: flex;
    margin: auto;
}

.p1-section-6 {
    font-family: 'Montserrat';
    font-size: 2rem;
    color: #FFFFFF;
}

.h1-section-6 {
    color: #FFF;
    font-size: 4rem;
    font-family: 'Poppins';
    font-weight: 700;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.p2-section-6 {
    font-family: 'Opens Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
}

.btn-subs-section-5 {
    color: #000;
    transition: .3s;
    text-transform: uppercase;
    background-color: #FFB740;
    font-family: "Poppins";
    font-weight: 700;
    padding: 1rem .8rem;
}

.btn-subs-section-5:hover {
    color: #FFF;
}

.container-footer {
    background-color: black;
}

.nav-bottom-section-6 {
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Poppins";
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

.nav-bottom-section-6 a {
    color: #FFF;
    text-decoration: none;
}

.nav-bottom-section-6-icons {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.garis-section-6 {
    border: 2px solid #FFF;
}

.footer-section-6 {
    color: #FFF;
    font-family: 'Poppins';
}


/* Desktop Version */

@media only screen and (min-width: 992px) {
    /* Navbar */
    nav {
        height: 5rem;
    }
    .nav-link:hover::after {
        content: "";
        display: block;
        border-bottom: 3px solid #F98404;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    /* Section 3 */
    /* .grid-container-features {
        grid-template-columns: 1fr 1fr;
    }
    .flex-item-features {
        flex-wrap: nowrap; */
}


/* Section 4 */


/* .systemRequirements {
        grid-template-columns: 1fr 1fr;
    } */


}